<div style="margin-top: -105px">
    <div class="row justify-content-md-center text-center">
        <div class="col col-4 bg-white habilidades" style="border-radius: 15px; box-shadow: 0 5px 5px 0 gray">
            <h3>Stack Tecnológico</h3>
            <i class="bi bi-cpu"></i>
            <p class="text-primary cabecera">
                Tengo experiencia laboral con los siguientes lenguajes y las siguientes tecnologías
            </p>
            <ul>
                <li>.NET</li>
                <li>SQL Server</li>
                <li>C#</li>
                <li>HTML</li>
                <li>CSS</li>
                <li>JavaScript</li>
                <li>Bootstrap</li>
            </ul>
        </div>
    </div>
</div>