<div class="text-center">
    <h1 class="display-4">Soy Gonzalo Lamas</h1>

    <h2>Soy un desarrollador backend especializado en la tecnología .NET</h2>

    <img id="foto" src="~/imagenes/img_7640.jpg" alt="Foto de Gonzalo" />
</div>

<div class="text-center">
    <img id="imagen-dotnet" src="~/imagenes/dotnet-imagen-2.png" alt="dotnet logo" />
</div>

<div class="row justify-content-center text-center bg-primary">
    <div class="col col-md-7 seccion-bienvenida">
        <h1>
            Te doy la bienvenida a mi portfolio
        </h1>
        <p>
            Estudiante universitario y autodidacta. Apasionado por la tecnología, tanto por el software
            como el hardware. Me motiva crear aplicaciones para simplificar mi vida diaria y en un
            futuro para las demás personas.
        </p>
    </div>
</div>  