@model Persona


@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Soy @Model.Nombre (@Model.Edad)</h1>
    <h2>Soy un desarrollador backend especializado en la tecnología .NET</h2>

    <img id="foto" src="~/imagenes/img_7640.jpg" alt="Foto de Gonzalo" />

</div>
